<header class="nav">
    <div class="nav-inner">

    <!-- Brand -->
    <a href="index.html" class="brand">
        <img src="/phumelela-logo.png" alt="" class="logo-img">
    </a>

    <!-- Hamburger -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger">
        <span></span>
    </label>

    <!-- Menu -->
    <ul class="menu">
        <li><a class="menu__links" href="index.html">Home</a></li>
        <li><a class="menu__links" href="about.html">About</a></li>
        <li><a class="menu__links" href="rooms.html">Rooms</a></li>
        <li><a class="menu__links" href="apply.html">Apply</a></li>
        <li><a class="menu__links" href="reserve.html">Reserve</a></li>

        <a href="contact.html" class="nav-btn sec-btn">Contact Us</a>
    </ul>
    </div>
</header>